# values.yaml for {{ .AppName }}
# Version: {{ .AppVersion }}

replicaCount: 1

image:
  repository: nginx
  tag: stable
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

# Custom variables example:
{{- range $key, $value := .Variables }}
{{ $key }}: {{ $value }}
{{- end }}
